{% extends '::base.html.twig' %}
{% block body %}
	<h1>Add a new order</h1>
	<a href="{{ path('home') }}">Back</a>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}
